<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Alcaldía de Iribarren</title>
    <style type="text/css" media="screen">
        header { height: 175px; }
        body { text-align: center; }
        h1 { font-size: 36px; }
        h2 { font-size: 22px; }
    </style>
</head>
<body>

<section id="main">
    <h1>Sistema de Monitoreo Vial</h1>
    <h2>Intersección Av. Venezuela con Av. Bracamonte</h2>

    <img id="camera001" src="#" width="600" >
</section><!-- #main -->
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
    var cam001 = io.connect();
    cam001.on('message', function (data) {
        document.getElementById('camera001').src='data:image/jpg;base64,' + data.data;
    });
</script>
</html>


